@using SA51_CA_Project_Team10.Models.DTO
@model GalleryViewModel

@section Scripts
{
    <script src="~/js/gallery.js"></script>
    <script src="~/js/rating.js"></script>
}

@{
    ViewData["Title"] = "Libraries Gallery";
    string searchbarValue = ViewData["Searchbar"]?.ToString() ?? string.Empty;  // Use a default value if null
}

<style>
    /* Styles here */
</style>

<div style="text-align:center">
    <form class="inlinef" action="/Gallery/Index" method="get">
        <input type="number" name="page" value="1" hidden />
        <input style="font-size:30px" size="35" type="text" id="searchbar" name="search" value="@searchbarValue" placeholder="Search.." />
        <button style="font-size:30px; float:right;" type="submit">Go</button>
    </form>
</div>

<table class="gallery" style="border-spacing: 20px 20px; border-collapse: separate; table-layout: fixed;" border="0">
    @if (Model?.DisplayedProducts != null && Model.DisplayedProducts.Count > 0)
    {
        @for (int i = 0; i < Model.DisplayedProducts.Count; i += Model.Columns)
        {
            <tr>
                @for (int j = i; j < i + Model.Columns && j < Model.DisplayedProducts.Count; ++j)
                {
                    var url = string.IsNullOrEmpty(Model.DisplayedProducts[j].ImageUrl) ? "~/images/default.png" : Model.DisplayedProducts[j].ImageUrl;

                    <td class="galleryTtd celldiv" style="border: 2px solid black; width: 33%;">
                        <div id=@("urdiv" + Model.DisplayedProducts[j].Id) class="urdiv" data-product="@Model.DisplayedProducts[j].Id" data-average="@Model.AverageRating(Model.DisplayedProducts[j].Id)" data-rated="@Model.UserRating(Model.DisplayedProducts[j].Id)">
                            <span id="@("rating" + Model.DisplayedProducts[j].Id)">Average rating:</span>
                            @for (int k = 1; k <= 5; k++)
                            {
                                <img class="@("stars" + j)" style="cursor: pointer;" name=@("star" + k) src="~/images/blank_star.png" width="20" />
                            }
                        </div>
                        <br /><br />
                        <img src="@url" width="75" height="80" />
                        <h2>@Model.DisplayedProducts[j].Name</h2>
                        <p>@Model.DisplayedProducts[j].Description</p>
                        <br /><br />
                        <div class="bdiv w-100">
                            <button class="productbtn btn btn-outline-dark" type="button" productId="@Model.DisplayedProducts[j].Id">$@Model.DisplayedProducts[j].UnitPrice - Add To Cart</button>
                        </div>
                    </td>
                }
            </tr>
        }
        @if (Model.DisplayedProducts.Count % Model.Columns != 0)
        {
            <tr>
                @for (int k = 0; k < Model.Columns - (Model.DisplayedProducts.Count % Model.Columns); k++)
                {
                    <td class="celldiv" style="width: 33%;"></td>
                }
            </tr>
        }
    }
</table>

@if (Model?.TotalPage > 1)
{
    <div align="center">
        @if (Model.Page > 1)
        {
            <form class="inlinef" action="/Gallery/Index" method="get">
                <input type="text" name="search" value="@searchbarValue" hidden />
                <button type="submit" name="page" value="@(Model.Page - 1)">&lt&lt</button>
            </form>
        }
        @for (int i = 1; i <= Model.TotalPage; ++i)
        {
            if (i == Model.Page)
            {
                <button class="activePage">@i</button>
            }
            else
            {
                <form class="inlinef" action="/Gallery/Index" method="get">
                    <input type="text" name="search" value="@searchbarValue" hidden />
                    <button type="submit" class="nonactivePage" name="page" value="@i">@i</button>
                </form>
            }
        }
        @if (Model.Page < Model.TotalPage)
        {
            <form class="inlinef" action="/Gallery/Index" method="get">
                <input type="text" name="search" value="@searchbarValue" hidden />
                <button type="submit" name="page" value="@(Model.Page + 1)">&gt&gt</button>
            </form>
        }
    </div>
}
